/*Table Content
==========================
    # General
        - Fonts
    # Links
    # Headings
    # Lists
        - Social-List
        - Contact-List
    # Images
*/


/* General
======================= */
/* Fonts */
@font-face {
    font-family: 'GE-Bold';
    src: url(../vendor/fonts/Cairo-Bold.ttf);
}
@font-face {
    font-family: 'GE-Light';
    src: url(../vendor/fonts/Cairo-Light.ttf);
}
@font-face {
    font-family: 'GE-DemiBold';
    src: url(../vendor/fonts/Cairo-SemiBold.ttf);
}
@font-face {
    font-family: 'GE-Medium';
    src: url(../vendor/fonts/Cairo-Regular.ttf);
}


body{
    font-size: 15px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'GE-Light';
}
.mainColor {
    color:#013E7D !important
}
.space-h {
    padding: 50px 0
}
.form-group{
    margin-bottom: 30px
}
.form-group label{
    color: #707070;
    font-family: 'GE-Medium';
}
.form-group .form-control{
    border:none;
    border-radius: 10px;
    height: 50px !important;
    color: #013E7D
}
.form-group .form-control:focus{
    outline: none;
    box-shadow: 0 3px 6px 0px #0002
}
.form-group small{
    word-spacing: 5px;
    color: #ed3636;
}
.form-submit .custom-btn{
    margin-top: 30px;
    margin-bottom: 20px;
}
.custom-btn:disabled{
    background: #B1B1B1;
    cursor: not-allowed
}
.custom-btn:disabled:hover {
    box-shadow: none;
    opacity: 1
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before,
.custom-control-input:checked~.custom-control-label::before {
    background-color: #013E7D !important
}
/* custom-btn
=========================*/
.custom-btn {
    border:none;
    background: #013E7D;
    border-radius: 35px;
    padding:10px 0;
    width: 110px;
    text-align: center;
    font-size: 14px;
    color: #FFF;
    margin-top: 60px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-family: 'GE-DemiBold';
}
.custom-btn:hover {
    opacity: 0.9;
    box-shadow: 0 0 30px 2px rgba(0,0,0,.2);
    color: #FFF
}
.custom-btn.gray {
    background: #efefef;
    color: #013E7D
}

.new-account{
    background: #fff;
    border:none;
    border-radius: 20px;
    padding: 0 20px ;
    color: #808F9F;
    font-size: 20px;
    font-family: 'GE-Bold';
    height: 60px;
    line-height: 58px;
    transition: all 0.3s ease-in-out
}
.new-account span {
    margin-left: 10px;
    font-size: 25px;
}
.new-account:hover{
    background: #808F9F;
    color: #fff
}
/* Links
==========================*/
a{
    color: #013E7D
}
a, a:hover, a:focus{
    text-decoration: none;
}
/* Headings 
========================== */
h1, h2, h3, h4, h5, h6 {
    display: block;
    margin: 0;
    font-family: 'GE-Bold';
}
p{
    margin: 0;
}
/*Lists
==========================*/
ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Images
=========================== */
img{
    display: block;
    max-width: 100%;
    height: auto;
}
/* Section Setting
============================ */ 
.section-lg{
    padding: 50px 0;
}
/* bg
=========================== */
.bg{
    background: url(../images/bg-body.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    padding: 100px 50px 0 0
}
.start-box {
    background: #FFFFFF;
    min-height: 80vh;
    border-radius: 18px;
    padding: 65px 75px 55px;
}

.start-box h1 {
    font-size: 35px;
    color: #013E7D;
    margin-top: 40px;
    margin-bottom: 50px
}
.start-box .input-container {
    position: relative;
    margin:0 0 50px;
}
.start-box .input-container input {
    outline: none;
    z-index: 1;
    position: relative;
    background: none;
    width: 100%;
    height: 60px;
    border: 0;
    color: #212121;
    font-size: 24px;
    font-weight: 400;
}
.start-box .input-container input:focus ~ label {
    color: #9d9d9d;
    -webkit-transform: translate(12%, -50%) scale(0.65);
          transform: translate(12%, -50%) scale(0.65);
}
.start-box .input-container input:focus ~ .bar:before, 
.start-box .input-container input:focus ~ .bar:after {
    width: 50%;
}
.start-box .input-container input:valid ~ label{
    color: #9d9d9d;
    -webkit-transform: translate(12%, -50%) scale(0.65);
          transform: translate(12%, -50%) scale(0.65);
}
.start-box .input-container label {
    position: absolute;
    top: 0;
    right: 0;
    color: #757575;
    font-size: 15px;
    font-weight: 300;
    line-height: 60px;
    transition: 0.2s ease;
}
.start-box .input-container .bar {
    position: absolute;
    right: 0;
    bottom: 0;
    background: #757575;
    width: 100%;
    height: 1px;
}
.start-box .input-container .bar:before,
.start-box .input-container .bar:after {
    content: '';
    position: absolute;
    background: #013E7D;
    width: 0;
    height: 2px;
    transition: .2s ease;
}
.start-box .input-container .bar:before {
    left: 50%;
}
.start-box .input-container .bar:after {
    right: 50%;
}
.start-box .custom-control-label {
    color: #013E7D;
    font-size: 12px
}
.start-box .form-group a{
    font-size: 19px;
    font-family: 'GE-Medium';
}
.start-box .form-group:last-child a {
    font-size: 15px
}
.login h1,
.login p,
.login .input-container,
.login .custom-control,
.login button,
.login .form-group a
{
    position: relative;
    left: 20px;
    opacity: 0;
    visibility: hidden;
}
.login.active h1,
.login.active p,
.login.active .input-container,
.login.active .custom-control,
.login.active button,
.login.active .form-group a
{
    left: 0;
    opacity: 1;
    visibility: visible;
}
.login h1{
    transition: all 0.2s ease-in-out;
    transition-delay: 0.1s;
}
.login .input-container{
    transition: all 0.2s ease-in-out;
    transition-delay: .2s;
}
.login .input-container:nth-child(2){
    transition: all 0.2s ease-in-out;
    transition-delay: .3s;
}
.login .custom-control{
    transition: all 0.2s ease-in-out;
    transition-delay: .4s;
}
.login button{
    transition: all 0.2s ease-in-out;
    transition-delay: .5s;
}
.login .form-group a{
    transition: all 0.2s ease-in-out;
    transition-delay: .6s;
}
.login .form-group:last-child a{
    transition: all 0.2s ease-in-out;
    transition-delay: .7s;
}
/* signup */
.signup .input-container:nth-child(3){
    transition: all 0.2s ease-in-out;
    transition-delay: .4s;
}
.signup .input-container:nth-child(4){
    transition: all 0.2s ease-in-out;
    transition-delay: .4s;
}
.signup .input-container:nth-child(5){
    transition: all 0.2s ease-in-out;
    transition-delay: .5s;
}
.signup .input-container:nth-child(6){
    transition: all 0.2s ease-in-out;
    transition-delay: .6s;
}

.signup button{
    transition: all 0.2s ease-in-out;
    transition-delay: .6s;
}
.signup .form-group:last-child a{
    transition: all 0.2s ease-in-out;
    transition-delay: .7s;
}
.signup .input-container.codePhone {
    display: inline-block;
    width: 60px;
}
.signup .input-container.phone {
    display: inline-block;
    width: calc(100% - 65px);
}
/* forgetpass */
.forgetpass p{
    transition: all 0.2s ease-in-out;
    transition-delay: 0.1s;
}
 .forgetpass  button{
    transition: all 0.2s ease-in-out;
    transition-delay: .3s;
}
 .forgetpass .form-group:last-child a{
    transition: all 0.2s ease-in-out;
    transition-delay: .4s;
}
/* welcome 
=======================*/
.welcome {
    color: #FFF
}
.welcome  span.typed1,
.welcome .typed-strings1 h2{
    font-size: 60px;
    font-family: 'GE-Medium';
    margin-bottom: 20px;
    display: block
}
.welcome span.typed2,
.welcome .typed-strings2 h3{
    font-size: 40px;
    font-family: 'GE-Medium';
    margin-bottom: 20px;
    display: block
}
.welcome .typed-cursor {
    display: none
}
.welcome .brand {
    
}










/* success
======================== */
.success{
    
}
.success p {
    font-size: 19px;
}
.success p:last-of-type{
    opacity: 0.5;
    margin:20px 0
}
.check_mark {
  width: 80px;
  height: 130px;
  margin: 0 auto;
}

button {
  cursor: pointer;
  margin-left: 15px;
}

.hide{
  display:none;
}

.sa-icon {
  width: 80px;
  height: 80px;
  border: 4px solid gray;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  border-radius: 50%;
  margin: 20px auto;
  padding: 0;
  position: relative;
  box-sizing: content-box;
}

.sa-icon.sa-success {
  border-color: #013e7d;
}

.sa-icon.sa-success::before, .sa-icon.sa-success::after {
  content: '';
  -webkit-border-radius: 40px;
  border-radius: 40px;
  border-radius: 50%;
  position: absolute;
  width: 60px;
  height: 120px;
  background: white;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sa-icon.sa-success::before {
  -webkit-border-radius: 120px 0 0 120px;
  border-radius: 120px 0 0 120px;
  top: -7px;
  left: -33px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 60px 60px;
  transform-origin: 60px 60px;
}

.sa-icon.sa-success::after {
  -webkit-border-radius: 0 120px 120px 0;
  border-radius: 0 120px 120px 0;
  top: -11px;
  left: 30px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0px 60px;
  transform-origin: 0px 60px;
}

.sa-icon.sa-success .sa-placeholder {
  width: 80px;
  height: 80px;
  border: 4px solid rgba(1, 62, 125,0.5);
  -webkit-border-radius: 40px;
  border-radius: 40px;
  border-radius: 50%;
  box-sizing: content-box;
  position: absolute;
  left: -4px;
  top: -4px;
  z-index: 2;
}

.sa-icon.sa-success .sa-fix {
  width: 5px;
  height: 90px;
  background-color: white;
  position: absolute;
  left: 28px;
  top: 8px;
  z-index: 1;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.sa-icon.sa-success.animate::after {
  -webkit-animation: rotatePlaceholder 4.25s ease-in;
  animation: rotatePlaceholder 4.25s ease-in;
}

.sa-icon.sa-success {
  border-color: transparent\9;
}
.sa-icon.sa-success .sa-line.sa-tip {
  -ms-transform: rotate(45deg) \9;
}
.sa-icon.sa-success .sa-line.sa-long {
  -ms-transform: rotate(-45deg) \9;
}

.animateSuccessTip {
  -webkit-animation: animateSuccessTip 0.75s;
  animation: animateSuccessTip 0.75s;
}

.animateSuccessLong {
  -webkit-animation: animateSuccessLong 0.75s;
  animation: animateSuccessLong 0.75s;
}

@-webkit-keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}
@-webkit-keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}
@keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}

@keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}

.sa-icon.sa-success .sa-line {
  height: 5px;
  background-color: #013e7d;
  display: block;
  border-radius: 2px;
  position: absolute;
  z-index: 2;
}

.sa-icon.sa-success .sa-line.sa-tip {
  width: 25px;
  left: 14px;
  top: 46px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sa-icon.sa-success .sa-line.sa-long {
  width: 47px;
  right: 8px;
  top: 38px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@-webkit-keyframes rotatePlaceholder {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
  }
}
@keyframes rotatePlaceholder {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
  }
}
/* nav
============================== */
nav{
    background: -webkit-radial-gradient(#013E7D,#011F3F);
    background:    -moz-radial-gradient(#013E7D,#011F3F);
    background:     -ms-radial-gradient(#013E7D,#011F3F);
    background:      -o-radial-gradient(#013E7D,#011F3F);
    background:         radial-gradient(#013E7D,#011F3F);
    height: 60px;
    color: #FFF;
    right: auto !important;
    width: 100%;
    z-index: 998!important
}
.logo-brand {
    width: 100px;
    margin-right: 70px ;
}
.search-admin{
    margin-left: -150px;
    transition: all 0.3s ease-in-out
}
.search-admin input{
    border-radius: 21px;
    border: none;
    padding: 5px 14px;
    font-size: 14px;
}
.control-admin {
    
}
.control-admin ul{
    
}
.control-admin ul  li.list-inline-item{
    padding: 0 20px;
    position: relative
}
.control-admin ul li a {
    
}
.control-admin ul li .sub-menu{
    position: absolute;
    top: calc(100% + 45px );
    left: calc(50% - 155px);
    width: 350px;
    padding: 0px;
    background: #FFF;
    box-shadow: 0 0 30px 6px rgba(31,51,73,.1);
    transition: all 0.3s ease-in-out;
    opacity: 0.3;
    visibility: hidden
    
}
.control-admin ul li.active .sub-menu {
    top: calc(100% + 20px );
    opacity: 1;
    visibility: visible
}
.control-admin ul li  .sub-menu:after{
    content: "";
    position: absolute;
    left: calc(50% - 30px);
    top: -20px;
    border-style: solid;
    border-width: 10px;
    border-top-color: transparent;
    border-bottom-color: #fff;
    border-left-color: transparent;
    border-right-color: transparent;
}
.control-admin ul li .sub-menu .sub-menu-list {
    max-height: 500px;
    overflow-y: scroll
}
.control-admin ul li  .sub-menu li {
    margin: 0
}
.control-admin ul li  .sub-menu li a {
    padding:  10px 20px;
    border-bottom: 2px solid #70707025
}
.control-admin ul li .num-notif{
    position: absolute;
    top: -4px;
    right: 9px;
    width: 20px;
    height: 20px;
    background: #A40000;
    color: #FFF;
    border-radius: 50%;
    font-size: 11px;
    text-align: center;
    line-height: 20px;
    border: 1px solid #013E7D;
}
.control-admin ul li  .sub-menu li a .notif-icon{
    
}
.control-admin ul li  .sub-menu li a .notif-icon i {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #013E7D;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.control-admin ul li  .sub-menu li a .notif-content{
    font-size: 12px
}
.control-admin ul li a img {
    width: 20px;
}
/* page-body-wrapper
========================= */
.page-body-wrapper{
    min-height: 100vh;
    padding-left: 0;
    padding-right: 0;
}   
.page-body-wrapper .main-panel{
    background: #F5F5F5;
    min-height: 100vh;
    width: calc(100% - 255px);
    transition: all 0.1s ease-in-out;
    padding: 60px ; 
}

/* side-nav
=========================== */
.side-nav{
    width: 380px;
    min-height: 100vh;
    min-height: 500px;
    transition: all 0.3s ease-in-out;
    background: -webkit-radial-gradient(#013E7D,#011F3F);
    background:    -moz-radial-gradient(#013E7D,#011F3F);
    background:     -ms-radial-gradient(#013E7D,#011F3F);
    background:      -o-radial-gradient(#013E7D,#011F3F);
    background:         radial-gradient(#013E7D,#011F3F);
    padding: 0;
    z-index: 999;
    transition: all 0.1s ease-in-out;
    position: relative;
}
.side-nav .control-side{
    color: #FFF;
    position: absolute;
    left: 20px;
    top: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer
}
.side-nav .control-side span{
    display: inline-block;
    background: #FFF;
    border-radius: 5px;
    
}
.side-nav .control-side span:first-child{
    position: absolute;
    top: 8px;
    left: 12px;
    height: 18px;
    width: 3px;
    transition: all 0.3s ease-in-out
}
.side-nav .control-side span:last-child{
    width: 18px;
    height: 3px;
    position: absolute;
    left: 4px;
    top: 15px;
}
.side-nav .control-side.active span:first-child{
    transform: translateY(-20px);
    opacity: 0
}
.side-nav .brand {
    width: 80px;
    margin-top: 16px;
    margin-right: 13px;
    position: absolute;
    top: 5px;
    right: 7px;
}
.side-nav .user-info{
    text-align: center;
    color: #FFF !important;
    font-weight: 500;
    margin-top: 80px;
    margin-bottom: 25px;
    cursor: pointer
}
.side-nav .user-info img {
    width: 30%;
    
}
.side-nav .user-info p {
    margin-top: 10px;
    font-weight: bold;
    word-spacing: 2px;

   
}
.side-nav .user-info span {
    font-size: 9px;
    letter-spacing: 2px;
    word-spacing: 2px;
    display: block
}
.side-nav .nav-list {
    color: #FFF;
    margin-bottom: 25px;
    margin-top: 80px;
}
.side-nav .nav-list img {
    display: inline-block;
    margin-left: 20px
}
.side-nav .nav-list a  {
    color: #FFF;
    position: relative;
    display: block;
    padding: 20px 10px;
    border-bottom: 1px solid #fff1;
    z-index: 2
}
.side-nav .nav-list a:first-child{
    border-top: 1px solid #fff1
}
.side-nav .nav-list a:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: #011F3F;
    z-index: -1;
    transition: all 0.3s ease-in-out
}
.side-nav .nav-list a:hover:after,
.side-nav .nav-list a.active:after {
    width: 100%
}
.side-nav .socail-list{
    margin: 50px 0 25px
}
.side-nav .socail-list li {
    display: inline-block;
    margin:  0 20px
}
.side-nav .socail-list li a:hover img{
    opacity: 0.5
}
/* side-bar-icon */
.side-bar-icon .side-nav {
    width: 50px;  
}
.side-bar-icon .page-body-wrapper .main-panel {
    width: calc(100% - 50px)
}
.side-bar-icon .side-nav .brand{
    display: none
}
.side-bar-icon .side-nav .nav-list,
.side-bar-icon .side-nav .user-info,
.side-bar-icon .side-nav .user-info span{
    font-size: 0
}
.side-bar-icon .side-nav .user-info img{
    width: 70%;
    transition: all 0.3s ease-in-out
}
.side-bar-icon .side-nav .socail-list li {
    margin: 10px
}
.side-bar-icon .side-nav .socail-list li img {
    width: 80%;
    margin: auto
}
.side-bar-icon .search-admin {
    margin-left: 0 !important;
}
.side-bar-icon .side-nav .control-side {
    left: 13px
}
/* signout
============================== */
#signout p{
    font-family: 'GE-Bold';
    margin: 25px auto;
}
#signout .custom-btn{
    padding: 7px 38px;
    margin-top: 20px;
    font-family: 'GE-Medium';
}
/* nothing-show
=================== */
.nothing-show {
    background: url(../images/no-report.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

/* Setting
======================= */
.setting{
    padding: 60px 0 0
}
.setting #accordion{
    
}
#accordion .card{
    border-radius: 17px;
    border: none;
    margin-bottom: 30px;
    box-shadow: 0 6px 10px 0px #0002;
    background: none;
}
#accordion .card .card-header{
    background: #FFFFFF;
    border-radius: 17px;
    border-bottom: 2px solid #F0F0F0;
    position: relative
}

#accordion .card .card-header .card-link{
    display: block;
    font-size: 21px;
    font-family: 'GE-DemiBold';
}
#accordion .card .card-header .card-link img{
    display: inline-block;
    margin-left: 15px
}
#accordion .card .card-header .card-link span{
    position: absolute;
    top: 17px;
    left: 10px;
    transform: rotate(0)
}
#accordion .card .card-header .collapsed.card-link  img {
    opacity: 0.2
}
#accordion .card .card-header .collapsed.card-link span {
    transform: rotate(180deg) translate(-16px,6px)
}
#accordion .card .card-body {
    background: none
}
/* profile-photo */
.profile-photo{
    margin-top: 45px;
    margin-bottom: 40px
}
.profile-photo .photo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
}
.profile-photo .photo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.profile-photo .photo input{
    display: none
}
.profile-photo .photo label {

    width: 20px;
    height: 20px;
    background: #ffffff;
    display: block;
    text-align: center;
    color: #000;
    font-weight: bold;
    line-height: 17px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    right: 5px;
    border: 1px solid #507FA9;
    cursor: pointer
}
/* progresses
=================== */
.cf:before, .bar:before,
.cf:after,
.bar:after {
  content: " ";
  display: table;
}

.cf:after, .bar:after {
  clear: both;
}

.title {
  margin-bottom: 30px;
  text-align: center;
  color: #020304;
}

.progresses {

  margin: 30px auto;
  padding: 20px 30px;
  border-radius: 2px;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
}

.progresses:not(:first-of-type) {
  display: none;
}


.bar__container {
  width: 100%;
  margin: 0 auto;
}

.bar {
  counter-reset: step;
  margin: 0;
  padding: 0;
}
.bar li {
    list-style-type: none;
    float: right;
    width: 33.333%;
    position: relative;
    text-align: center;
    font-size: 15px !important;
    color: #013e7d;
    padding-left: 5px;
    font-family: 'GE-Bold';
}
@media all and (min-width: 500px) {
  .bar li {
    text-transform: uppercase;
    font-size: 10px;
  }
}
.bar li:before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  border: 1px solid #ddd;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: white;
  color: #333;
    z-index: 11;
    position: relative;
}
.bar li:after {
  content: '';
  position: absolute;
  width: 90%;
  height: 2px;
  background: #ddd;
  top: 15px;
  right: -45%;
  z-index: 0;
}
.bar li:first-child:after {
  content: none;
}
.bar li.active:before {
  background: #013E7D;
  border: 1px solid #013E7D99;
  color: white;
}
.bar li.active + li.active:after {
  background: #013E7D;
}
.bar li.active:first-child + li:after:not(.active) {
  background: white;
}
.added {
    background-image: url(../images/added.png);
    height: 230px;
    background-repeat: no-repeat;
    background-position: center;
}
.added-type {
    position: relative;
    display: inline-block
}
.added-type span{
    transform: rotate(45deg);
    display: inline-block;
    position: absolute;
    cursor: pointer;
    top:25px
}
.added-type span img{
    width: 50%
}
.added-type .added-input{
    border-radius: 35px;
    background: #013E7D22;
    color: #013E7D;
    border:none;
    display: inline-block;
    margin: 35px 10px 0;
    text-align: center;
    margin-right: 0;
    padding: 10px;
}
.added-form .form-group{
    position: relative
}
.added-form .form-group .submit-add {
    position: absolute;
    top: 45px;
    left: -19px;
    border:none;
    background: none;
    cursor: pointer;
    display: none
}
.added-form .form-group .submit-add img {
    width: 70%;
    opacity: 0.3;
}
/* spends-div
======================= */
.spends-div{
    background: #FFF;
    border:2px dashed #013E7D;
    padding: 20px;
    margin: 40px 0 20px;
    border-radius: 5px;
    min-height: 250px
}

/* main-box
======================= */
.main-box{
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 3px 6px 0px rgba(0,0,0,.16);
    padding: 10px 0;
    margin: 30px 0;
    transition: all 0.3s ease-in-out;
    position: relative;
/*    cursor: pointer*/
}

.main-box:hover{
    box-shadow: 0 0px 30px 0px rgba(0,0,0,.16);
}
.main-box .title-box{
    font-size: 20px;
    padding: 10px 20px;
    display: block;
    color: #65819E;
    position: relative;
    border-bottom: 2px solid #EAEDF0
}
.main-box .title-box span{
    position: absolute;
    top: -5px;
    left: 10px;
    
}
.main-box .title-box span .form-control {
    width: 120px;
}
.main-box .title-box span .form-control:focus{
    box-shadow: none;
}
.main-box .title-box span .custom-date{
    vertical-align: middle;
}
.main-box .title-box span .custom-date .showDate{
    position: absolute;
    top:50px;
    left: 0;
    background: #FFF;
    z-index: 70;
    padding: 10px;
    border-radius: 4px;
    width: 310px;
    box-shadow: 0 2px 13px 0 #00000024;
    transform: rotateX(90deg);
    transform-origin: top;
    transition: all 0.3s ease-in-out;
}
.main-box .title-box span .custom-date.active .showDate {
    transform: rotateX(0deg);
}
.main-box .setting-box{
    position: absolute;
    top: 21px;
    left: 20px
}
.main-box .setting-box img {
    opacity: 0.3
}
.main-box .body-box{
    display: block;
    height: 200px
}
.main-box .body-box img{
    width: 30%
}
 /* gray-box 
============================= */
.gray-box {
    border-radius: 25px;
    background: #F5F5F5;
    min-height: 140px;
    margin-top: 50px;
    width: 220px;
    padding: 25px 15px ;
    position: relative;
    color: #013E7D;
    margin-top: 50px;
    display: block
}
.gray-box.box-no-bg{
    background: none;
    text-align: center
}
.gray-box.box-no-bg .box-span{
    border:0px solid #DEE2E7;
    background: #E7EBF0
} 
.gray-box .gray-title{
    font-size: 18px;
}
.gray-box .box-span{
    font-size: 18px;
    
    display: inline-block;
    margin-top: 25px;
    border:2px solid #DEE2E7;
    border-radius: 35px;
    padding: 4px 25px;
    font-weight: bold;
    text-align: center;
    width: 100%
}
.gray-box .main-span {
    text-align: center;
    display: block;
    background: #E7EBF0;
    font-family: 'GE-DemiBold';
}
.gray-box.box-sm  .main-span {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding-top: 15px;
    position: absolute;
    top: -22px;
    left: -42px;

}
.gray-box .main-span b {
    display: block;
}
.gray-box.box-lg {
    text-align: center;
    margin-right: 20px;
    padding-left: 30px;
    margin-left: 60px;
    width: 200px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}
.gray-box.box-lg .main-span {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -82px;
    width: 100px;
    display: flex;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

/* chart-key
=========== */
.chart-key{
    margin-top: 30px
}
.chart-key p{
    
}
.chart-key p span{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 30px
}









/*
=================== */

.input-group-addon{
    position: static !important;
    margin: 0 10px;
    font-size: 15px;
    display: inline-block;
    margin-top: 7px
}
.input-daterange input{
    max-width: 110px
}
.input-daterange span {
    
}
/* sweet alert
===========*/
.swal-title{
    color: #013E7D
}
.swal-text {
    text-align: center
}
.swal-button {
    border:none;
    
    border-radius: 35px;
    padding:10px 0;
    width: 110px;
    text-align: center;
    font-size: 14px;
    color: #FFF;
    margin-top: 60px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-family: 'GE-DemiBold';
}
.swal-button.swal-button--confirm:not([disabled]):hover,
.swal-button.swal-button--confirm {
    opacity: 0.9;
    box-shadow: 0 0 30px 2px rgba(0,0,0,.2);
    color: #FFF;
    background: #013E7D;
}
.swal-button--cancel:focus,
.swal-button--cancel:hover{
     box-shadow: 0 0 30px 2px rgba(0,0,0,.2);
}
.swal-button--cancel {
    color: #013E7D
}
.swal-icon--success__ring{
    border: 4px solid hsla(208, 55%, 69%, 0.2);
}
.swal-icon--warning{
    border-color: #013E7D !important;
    -webkit-animation: none; 
     animation:none; 
}
.swal-icon--warning__body, .swal-icon--warning__dot,
.swal-icon--success__line{
    background-color: #013E7D;
}
/* countCard
========================*/
.card-body {
    position: relative;
}
.countCard{
    width: 60px;
    height: 60px;
    background: #013E7D;
    border-radius: 50%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    text-align: center;
    color: #FFF;
    cursor: pointer;
    z-index: 1
}
.countCard span {
    line-height: 60px;
    font-size: 22px;
    font-weight: bold
}
.countCard .countDisplay {
    border-radius: 40px;
    background: #FFF;
    padding: 20px;
    width: 500px;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
    position: absolute;
    bottom: 30px;
    left: 40px;
    z-index: 0;
    transform: scale(0);
    transform-origin: bottom left;
    transition: all 0.2s ease-in-out
}
.countCard.active .countDisplay{
    transform: scale(1)
}
.countCard .countDisplay a{
    border-radius: 35px;
    background: #013E7D22;
    color: #013E7D;
    border: none;
    display: inline-block;
    margin: 0 10px 10px;
    text-align: center;
    margin-right: 0;
    padding: 10px;
    min-width: 100px
}
/* table
=========================== */
.table-responsive{
    text-align: center;
    min-height: 500px;
    max-height: 650px
}
.table-responsive table{
    border-collapse: collapse;
    position: relative;
}
.table-responsive thead tr{
    color: #fff;
    background: #013E7D;
    position: relative
}
.table-responsive thead tr th{
    border: none;
    padding: 20px 0
}
.table-responsive table tr td{
    color: #C7C7C7;
    padding: 20px 
}
.table-responsive table tr td:first-child .custom-control-label{
    cursor: pointer
}
.table-responsive table tr .custom-control{

}
.table-responsive table tr .custom-control .custom-control-input{

}
.table-responsive table tr .custom-control .custom-control-label{
    display: block;
}
.table-responsive table tr td a{
    display: block;
    width: 20px;
    margin: auto
}
.table-responsive table tbody tr:hover td{
    color: #013E7D !important;
    border:1px solid #013E7D !important;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
}
.table-responsive table tbody tr:hover {
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.16)
}

.table-responsive table tr td  img {
    opacity: 0.5
}
.table tbody tr:hover td  img {
    opacity: 1 !important
}

/* bg
=============== */

.bgRed{
    background: #BF4B4B !important;
    color: #FFF
}
.bgGreen{
    background: #69B075 !important;
    color: #FFF
}
.bgBlue{
    background: #194573 !important;
    color: #FFF
}
.bgYellow{
    background: #F1BE32 !important;
    color: #FFF
}
